*{
    margin:0;
    padding:0;
}

body {
	font:14px/1.3 Arial,sans-serif;
    background-color:#212121;
    color:blue
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h1 {
	background-color: rgb(128,0,0) ;
    color: lightgrey;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
}
header h2 {
	font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header h3 {
    height:30px;
    background-color:lightyellow;
    color: blue;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
}
header h4 {
	background-color: silver;
    color: rgb(190,0,0) ;
}
header h5 {
	background-color: darkgrey;
    color: black ;
}
div{
                    
   }
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    height: 571px;
    margin: 30px auto;
    width: 957px;
}
